*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
  min-height: 100vh;
  overflow: hidden;
}
.heart {
  position: absolute;
  top: -10px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}
.container{
  text-align: center;
  margin-top:50px;
}
img{
width:250px;
height:250px;
border-radius: 50px;
}